$font: "Century Gothic", sans-serif;

$primeColor: #2b6cde;
h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
a {
  margin-top: 0;
  font-family: $font;
  margin-bottom: 10px;
}

.preloader {
  position: fixed;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 1);
  height: 100%;
  text-align: center;
  z-index: 1000;
  display: flex;
  transition: cubic-bezier(0.79, 0.16, 0.25, 1) 700ms all;
  opacity: 1;
  & .bubbles {
    margin: auto;
  }
  & .bubbles span {
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 15px;
    margin: 150px auto;
    background: #b804b8;
    border-radius: 50%;
    animation: bubbly 0.9s infinite alternate;
  }
  & #bubble2 {
    animation-delay: 0.27s;
  }
  & #bubble3 {
    animation-delay: 0.54s;
  }
  &.invisble {
    pointer-events: none;
    opacity: 0;
  }
}
@keyframes bubbly {
  0% {
    width: 15px;
    height: 15px;
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    width: 50px;
    height: 50px;
    opacity: 0.1;
    transform: translateY(-32px);
  }
}

textarea {
  resize: none;
  width: 100%;
  margin: 10px 0;
  background: none;
  border: none;
  font-size: 20px;
  text-align: center;
  border-bottom: 1px solid #000;
  animation: blink 1s infinite;
}
textarea:focus {
  border-bottom: 1px solid transparent !important;
}
textarea:not(:placeholder-shown) {
  border-bottom: 1px solid transparent !important;
}

@keyframes blink {
  0%,
  100% {
    border-bottom-color: transparent;
  }
  50% {
    border-bottom-color: black;
  }
}
input[type="radio"] {
  display: none;
}

.wrapper {
  background: #fff url(./Images/img.jpg);
  background-size: cover;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  overflow: auto;
}

.intro {
  z-index: 10;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 0px;
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: all 0.5s cubic-bezier(0.18, 0.59, 0.82, 1.28);
  &.invisible {
    opacity: 0;
    transform: scale(0.8);
    pointer-events: none;
    z-index: -1;
  }
  & h3 {
    font-family: $font;
    color: $primeColor;
    margin: 0;
  }
  & p {
    font-family: $font;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
    color: #006;
    margin: 15px 30px;
    max-width: 600px;
  }
}

.mainBtn {
  color: $primeColor;
  text-decoration: none;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s ease all;
  font-size: 18px;
  font-family: $font;
  letter-spacing: 2px;
  display: inline-block;
  text-align: center;
  width: 250px;
  font-weight: bold;
  padding: 14px 0;
  border: 3px solid $primeColor;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  z-index: 1;
  &:before {
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: $primeColor;
    z-index: -2;
  }
  &:hover {
    color: #fff;
    box-shadow: 0 2px 10px 3px rgba(0, 0, 0, 0.56), 0 3px 6px rgba(0, 0, 0, 0.1);
    &::before {
      -webkit-transition: 0.5s all ease;
      transition: 0.5s all ease;
      left: 0;
      right: 0;
      opacity: 1;
    }
  }
  &:focus {
    color: #fff;

    &:before {
      transition: 0.5s all ease;
      left: 0;
      right: 0;
      opacity: 1;
    }
  }
}

.questions {
  margin-left: 15%;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  height: calc(100% - 50px);
  &.visible {
    margin-left: 0;
    opacity: 1;
  }
  & .qwrapper {
    white-space: nowrap;
    overflow: hidden;
    height: 100%;
    & .question {
      white-space: normal;
      margin-left: 0;
      padding: 20px;
      text-align: center;
      width: 100%;
      display: inline-block;
      vertical-align: top;
      position: relative;
      height: 100%;
      box-sizing: border-box;
      overflow: hidden;
      transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.8s;
      & .flex {
        display: flex;

        justify-content: center;

        flex-wrap: wrap;
      }
      & h1 {
        color: #006;
        margin: 20px 0;
      }
      & h3 {
        color: #006;
      }
      & svg {
        width: 72px;
        fill: #cd9ce7;
      }
      & label {
        display: inline-block;
        width: 36%;
        padding: 3% 1%;
        margin: 1%;
        border: 1px dashed #eee;
        background: rgba(255, 255, 255, 0.15);
        position: relative;
        z-index: 5;
        max-width: 250px;
        & h4 {
          color: #558;
        }
        & .shineBG {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          top: 0;
          background: rgba(255, 255, 255, 0);
          transition: cubic-bezier(0.18, 0.89, 0.32, 1.28) 0.5s;
          pointer-events: none;
          transform: scale(0.3);
        }
        & input[type="radio"]:checked ~ .shineBG {
          background: rgba(255, 255, 255, 0.4);
          z-index: -1;
          transform: scale(1);
          border: 1px solid #ae42b7;
          box-shadow: 0 0 3px #cd9ce7 inset;
        }
        & input[type="radio"]:checked + h4 {
          color: #335;
        }
        & input[type="radio"]:checked ~ svg {
          transition: cubic-bezier(0.36, 0.03, 0.49, 3.5) all 0.6s;
          transform: scale(1.1);
          fill: #ae42b7;
        }
      }
    }
  }
}

.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: -80px;
  background: rgba(255, 255, 255, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1) inset;
  transition: bottom 300ms ease-in;
  display: flex;
  flex-direction: row;
  padding: 10px;
  box-sizing: border-box;
  &.visible {
    bottom: 0;
  }
  & .progress {
    flex: 1;
    margin: auto 15px;
    & .progressWrapper {
      width: 100%;
      height: 10px;
      border-radius: 4px;
      border: 1px solid #2b6cde;
      background: rgba(255, 255, 255, 0.2);
      box-shadow: 0 1px 1px #2b6cde;
      overflow: hidden;
      & .progressSlide {
        background: white;
        transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s all;
        height: 100%;
      }
    }
  }
  & .buttonWrapper {
    & button {
      margin: 0;
      width: 50px;
      padding: 7px;
      line-height: 1em;
      border-width: 1px;
      background: rgba(255, 255, 255, 0.5);
      border-radius: 4px;
      & svg {
        width: 36px;
        height: 36px;
      }
    }
  }
}
